# Imports

In [1]:
import import_ipynb
from create_db_connection_strings import create_connection_string, create_sql_alchemy_engine
from read_env_file import SRVR, DTBS, USRNM, PSSWRD
from execute_sql import execute_sql_statement
import os
import pandas as pd

localhost master olist_user olist2025

In [2]:
# Current path
print(os.getcwd())

C:\Users\PC\Downloads\Project_OLIST - Copy\NOTEBOOKS

In [3]:
# Path of the dataset
csv_path = "../OLIST_DATASET/"

In [4]:
# Get all of the csv file names
print(os.listdir(csv_path)) 
all_csv = os.listdir(csv_path)

['olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv']

In [5]:
# 4.1 Data Cleaning and Transformation

# 4.1.1 Load all CSV files into a Jupyter Notebook using Pandas
# 4.1.2 Clean the datasets:
# 4.1.2.2 Remove any duplicate rows

# This method reads the csv files and also drops the duplicates
def pandas_read_unique_csv(base_csv_path: str, file: str):
    print(f"The file path is: {base_csv_path}{file}")
    df = pd.read_csv(f"{base_csv_path}{file}")
    df_no_duplicates = df.drop_duplicates()
    return df_no_duplicates

In [6]:
# This method programatically creates variables and assigns them the dataframe created from a csv file
def create_dataframes_programatically(variable: str,value: str,base_path: str):
    var_name = variable
    globals()[var_name] = pandas_read_unique_csv(base_path,value)

In [7]:
# This iterates through all of the csv files, creates the variables and the respective dataframes
for csv_file in all_csv:
    dtfrm = f"df_{csv_file.split('.')[0]}"
    print(f"The variable to be created is: {dtfrm}")
    create_dataframes_programatically(dtfrm,csv_file,csv_path)

The variable to be created is: df_olist_customers_dataset
The file path is: ../OLIST_DATASET/olist_customers_dataset.csv
The variable to be created is: df_olist_geolocation_dataset
The file path is: ../OLIST_DATASET/olist_geolocation_dataset.csv
The variable to be created is: df_olist_orders_dataset
The file path is: ../OLIST_DATASET/olist_orders_dataset.csv
The variable to be created is: df_olist_order_items_dataset
The file path is: ../OLIST_DATASET/olist_order_items_dataset.csv
The variable to be created is: df_olist_order_payments_dataset
The file path is: ../OLIST_DATASET/olist_order_payments_dataset.csv
The variable to be created is: df_olist_order_reviews_dataset
The file path is: ../OLIST_DATASET/olist_order_reviews_dataset.csv
The variable to be created is: df_olist_products_dataset
The file path is: ../OLIST_DATASET/olist_products_dataset.csv
The variable to be created is: df_olist_sellers_dataset
The file path is: ../OLIST_DATASET/olist_sellers_dataset.csv
The variable to be created is: df_product_category_name_translation
The file path is: ../OLIST_DATASET/product_category_name_translation.csv

In [8]:
for csv_file in all_csv:
    var_name = f"df_{csv_file.split('.')[0]}"
    print(f"\nHead of: {var_name}")
    print(globals()[var_name].head())

Head of: df_olist_customers_dataset
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Head of: df_olist_geolocation_dataset
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Head of: df_olist_orders_dataset
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Head of: df_olist_order_items_dataset
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Head of: df_olist_order_payments_dataset
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

Head of: df_olist_order_reviews_dataset
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parab√©ns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

Head of: df_olist_products_dataset
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Head of: df_olist_sellers_dataset
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Head of: df_product_category_name_translation
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [9]:
# This creates a connection string based on the enviroment variables
arg_conn = create_connection_string(SRVR,DTBS,USRNM,PSSWRD)

In [10]:
# This creates the sqlalchemy engine from the connection
arg_eng = create_sql_alchemy_engine(arg_conn)

In [11]:
sql_stat = "CREATE DATABASE OLIST;"

In [12]:
rows = execute_sql_statement(arg_eng,sql_stat)

In [13]:
arg_conn_olist = create_connection_string(SRVR,"OLIST",USRNM,PSSWRD)

In [14]:
arg_eng_olist = create_sql_alchemy_engine(arg_conn_olist)

In [15]:
# 4.1 Data Cleaning and Transformation

# 4.1.1 Load all CSV files into a Jupyter Notebook using Pandas
# 4.1.2 Clean the datasets:
# 4.1.2.1 Handle missing values by filling them with appropriate data or dropping rows/columns.

# olist_products
### fill null values
df_olist_products_dataset['product_category_name'].fillna('desconhecida', inplace=True)

df_olist_products_dataset['product_name_lenght'] = df_olist_products_dataset['product_name_lenght'].fillna(-1)

df_olist_products_dataset['product_description_lenght'] = df_olist_products_dataset['product_description_lenght'].fillna(-1)

df_olist_products_dataset['product_photos_qty'] = df_olist_products_dataset['product_description_lenght'].fillna(-1)

df_olist_products_dataset.to_sql("olist_products", con=arg_eng_olist, if_exists="replace", index=False)

C:\Users\PC\AppData\Local\Temp\ipykernel_8248\1045000798.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_products_dataset['product_category_name'].fillna('desconhecida', inplace=True)

98

In [16]:
# olist_sellers
df_olist_sellers_dataset.to_sql("olist_sellers", con=arg_eng_olist, if_exists="replace", index=False)

475

In [17]:
# product_category_name_translation
# Add a new category that was used to fill null values
df_product_category_name_translation.loc[len(df_product_category_name_translation)] = ['desconhecida', 'unknown']

df_product_category_name_translation.to_sql("product_category_name_translation", con=arg_eng_olist, if_exists="replace", index=False)

72

In [18]:
# olist_orders

# Fill Null values
df_olist_orders_dataset['order_delivered_carrier_date'] = df_olist_orders_dataset['order_delivered_carrier_date'].fillna('1900-01-01 00:00:00')
df_olist_orders_dataset['order_delivered_customer_date'] = df_olist_orders_dataset['order_delivered_customer_date'].fillna('1900-01-01 00:00:00')

# Convert columns to datetime
df_olist_orders_dataset['order_estimated_delivery_date'] = pd.to_datetime(df_olist_orders_dataset['order_estimated_delivery_date'])
df_olist_orders_dataset['order_purchase_timestamp'] = pd.to_datetime(df_olist_orders_dataset['order_purchase_timestamp'])

In [21]:
# 4.2 Creating Calculated Columns
# 4.2.1 Create the following calculated columns in the order items dataset:
# 4.2.1.1 Total Price: Sum of product price and freight value

# olist_order_items

# Total Price: Sum of product price and freight value.
df_olist_order_items_dataset['total_price'] = df_olist_order_items_dataset['price'] + df_olist_order_items_dataset['freight_value']

#4.2.1.2 Delivery Time: Difference between the delivery date and the order purchase date. 

# olist_orders

# Delivery Time: Difference between the delivery date and the order purchase date.
df_olist_orders_dataset['delivery_time'] = df_olist_orders_dataset['order_estimated_delivery_date'] - df_olist_orders_dataset['order_purchase_timestamp']

df_olist_orders_dataset['delivery_time'] = df_olist_orders_dataset['delivery_time'].astype(str)
df_olist_orders_dataset.to_sql("olist_orders", con=arg_eng_olist, if_exists="replace", index=False)

# 4.2.1.3 Payment Count: Sum of payment installments for each order. 


# olist_order_payments

#Optional:
# Drop all duplicate payment_count columns if they exist
df_olist_order_payments_dataset = df_olist_order_payments_dataset.drop(
    columns=[col for col in df_olist_order_payments_dataset.columns if col.startswith('payment_count')],
    errors='ignore'
)

# Create the payment_count DataFrame
payment_count_df = df_olist_order_payments_dataset.groupby('order_id', as_index=False).agg(
    payment_count=('payment_installments', 'sum')
)

# Merge the new payment_count column
df_olist_order_payments_dataset = df_olist_order_payments_dataset.merge(
    payment_count_df, on='order_id', how='left'
)

#Save the updated dataframe to SQL
df_olist_order_payments_dataset.to_sql("olist_order_payments", con=arg_eng_olist, if_exists="replace", index=False)


# Display the result
print(df_olist_order_payments_dataset.head())

# 4.2.1.4 Profit Margin: Subtract freight value from product price to calculate a rough profit 
# estimate. 

# olist_order_items

# Profit Margin: Subtract freight value from product price to calculate a rough profit estimate.

df_olist_order_items_dataset['profit_margin'] = df_olist_order_items_dataset['price'] - df_olist_order_items_dataset['freight_value']

df_olist_order_items_dataset.to_sql("olist_order_items", con=arg_eng_olist, if_exists="replace", index=False)

                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value  payment_count
0                     8          99.33              8
1                     1          24.39              1
2                     1          65.71              1
3                     8         107.78              8
4                     2         128.45              2

111

In [22]:
# olist_customers

df_olist_customers_dataset.to_sql("olist_customers", con=arg_eng_olist, if_exists="replace", index=False)

# olist_geolocation

df_olist_geolocation_dataset.to_sql("olist_geolocation", con=arg_eng_olist, if_exists="replace", index=False)

# olist_order_reviews

df_olist_order_reviews_dataset.to_sql("olist_order_reviews", con=arg_eng_olist, if_exists="replace", index=False)

255